@font-face{
    font-family: Adventure-Script ;
    src: url(./font/Adventure/AdventureScript.ttf);
}
@font-face{
    font-family: Caveat;
    src: url(./font/Caveat/Caveat-VariableFont_wght.ttf);
}

html {
    background-image: url(./img/gray.png);
    background-size: cover;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: Caveat, sans-serif ;
    font-weight: 300;
}

a {
    text-decoration: none;
    background: none;
    color: beige;
}

.title {
    display: flex;
    align-items: center; 
    justify-content: baseline;
    position: relative;
}

h1 {
    color: beige;
    background: none;
    font-size: 90px;
    padding-top: 30px;
    margin-bottom: 0px;
    
}
.logo{
    width: 200px;
    margin-top: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.text{
    font-size: 60px;
    font-weight: 300;
    padding-left: 150px;
    color: beige;
}

img {
    width: 200px;
    background: none;
}

.img-chef{
    flex-basis: 50%;
    order: 2;
    margin-bottom: 200px;
    
}

h4{
    color: beige;
    font-size: 50px;
    text-align: center;
}

.burger{
    
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(40, 40, 40, 0.3);
    
}
.img-burger{
    background: none;
}
.img-burger:hover{transform: scale(1.5);}

.pasta{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-pasta{
    background: none; 
}
.img-pasta:hover{transform: scale(1.5);}

.pizza{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(40, 40, 40, 0.3);
}
.img-pizza{
    background: none;
}
.img-pizza:hover{transform: scale(1.5);}
