html {
    background-image: url(./img/gray.png);
    background-size: cover;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Adventure Script', sans-serif ;
    font-weight: 300;
}

a {
    text-decoration: none;
    background: none;
    color: beige;
    
}

.title {
    display: flex;
    align-items: center; 
    justify-content: baseline;
    position: relative;
}

.recipes{
    color: beige;
    background: none;
    position: sticky;
    font-size: 68px;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

img {
    width: 200px;
    background: none;
}

.img-chef{
    flex-basis: 50%;
    order: 2;
    
}

.text{
    font-size: 30px;
    font-weight: 300;
    padding-left: 150px;
    color: beige;
}

.burger{
    background-color: rgb(172, 134, 36);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.imgb{
    background: none;
    margin-left: auto;
}

.pasta{
    padding: 50px;
}

.pizza{
    padding: 50px;
}
